main {
    width: 100vw;
}

.logo-row {
    padding: 1em 0 1em 0;
}

.logo {
    border: 0.2em solid white;
    border-radius: 25%;
    max-height: 128px;
}

.link-row {
    max-height: 128px;
}

.link-row a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    transition: color .3s;
    color: white;
}

.link-row a:hover {
    color: black;
}

.link-row a path, .link-row a polygon {
    fill: white;
    transition: fill .3s;
}

.link-row a:hover path, .link-row a:hover polygon {
    fill: #6aa460;
    stroke: black;
    stroke-width: 2px;
}