<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Description" content="DoUbleU Personal Site">
<meta name="theme-color" content="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="<%= publicUrl %>/static/icons/ms-icon-144x144.png">
<link rel="manifest" href="<%= publicUrl %>/manifest.json">
<link rel="shortcut icon" sizes="16x16" href="<%= publicUrl %>/static/icons/favicon.ico">
<link rel="shortcut icon" type="image/png" sizes="192x192"  href="<%= publicUrl %>/static/icons/android-icon-192x192.png">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="<%= publicUrl %>/static/icons/favicon-32x32.png">
<link rel="shortcut icon" type="image/png" sizes="96x96" href="<%= publicUrl %>/static/icons/favicon-96x96.png">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="<%= publicUrl %>/static/icons/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="57x57" href="<%= publicUrl %>/static/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="<%= publicUrl %>/static/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="<%= publicUrl %>/static/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="<%= publicUrl %>/static/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="<%= publicUrl %>/static/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="<%= publicUrl %>/static/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="<%= publicUrl %>/static/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="<%= publicUrl %>/static/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="<%= publicUrl %>/static/icons/apple-icon-180x180.png">
</head>
<body>
<noscript>Enable JavaScript to view this web app.</noscript>
<div id="root"></div>
</body>
</html>