doctype html
html(lang='en')
  head
    title DoUbleU
    meta(name="application-name" content="DoUbleU")
    meta(name="apple-mobile-web-app-title" content="DoUbleU")
    meta(name='description' content='DoUbleU Personal Site')

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge,chrome=1')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="theme-color" content="#000000")
    meta(name="msapplication-TileImage" content="/static/icons/mstile-144x144.png")
    meta(name="msapplication-config" content="/browserconfig.xml")

    link(rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="192x192" href="/static/icons/android-chrome-192x192.png")
    link(rel="icon" type="image/png" sizes="194x194" href="/static/icons/favicon-194x194.png")
    link(rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#000000")
    link(rel="shortcut icon" href="/static/icons/favicon.ico")

    style(type='text/css') html,body,#app-root{height: 100%}

  body
    #app-root
      div(style='display:flex;height:100%')
        div(style='margin:auto')
          h2(style='text-align:center'): noscript Javascript is required to view this application