doctype html

html(lang='en')
    head
        title DoUbleU
        meta(name="application-name" content="DoUbleU")
        meta(name="apple-mobile-web-app-title" content="DoUbleU")
        meta(name='description' content='DoUbleU Personal Site')

        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge,chrome=1')
        meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
        meta(name="msapplication-TileColor" content="#000000")
        meta(name="msapplication-TileImage" content="/static/icons/mstile-144x144.png")
        meta(name="msapplication-config" content="/browserconfig.xml")
        meta(name="theme-color" content="#000000")
        link(rel="manifest" href="/site.webmanifest")
        include indexIcons.pug

        //- Bootstrap stylesheet
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        
        style(type='text/css') html,body,#app-root{height: 100%}
        link(rel='stylesheet' type='text/css' href='static/style.css')

    body
        #app-root
            div(style='display:flex;height:100%')
                div(style='margin:auto')
                    h2(style='text-align:center'): noscript Javascript is required to view this application.

        //- Bootstrap sources
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')